* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin: 0 auto;
    width: 1440px;
    height: 1024px;
    background-image: url("assets/bg-layer.png");
}

.content {
    position: absolute;
    margin-left: 135px;
    width: 1170px;
}

.players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.player-interface {
    padding: 20px 30px 20px 20px;
    width: 290px;
    height: 221px;
    left: 957px;
    top: 25px;

    background: rgba(0, 0, 0, 0.25);
    border-left: 10px solid #BE3535;
    border-radius: 10px;
}

.active {
    width: 290px;
    height: 221px;
    left: 135px;
    top: 25px;

    background: rgba(0, 0, 0, 0.25);
    border-left: 10px solid #35BE53;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.logo  {
    display: flex;
    align-items: center;
    padding-bottom: 11px;
    border-bottom: 1px solid #FFFFFF;
}

.logo img {
    width: 64px;
    height: 64px;
}

.logo p {
    width: 88px;
    height: 28px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.time {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.time p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #BABABA;
}

.time h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}


.restart-btn button {
    width: 173px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35BE53;
    border: 0;
    border-radius: 5px;
    filter: drop-shadow(-5px 5px 18px rgba(0, 0, 0, 0.5));
}

.restart-btn p {
    margin-left: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.lost {
    width: 290px;
    height: 108px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.lost h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

.lost-figures {
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lost-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}






.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 98px;

}

.board-plate {
    border: 20px solid black;
    box-shadow: -10px 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-image: url("assets/desc-stroke.png") 20;
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: saddlebrown;
}

.white {
    background-color: #eed4ac;
}

.selected {
    background-color: gold;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}